@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #F2F2F2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.button {
  display: block;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;

  background-color: #756157;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button-big {
  display: block;
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}



/* Header */

.page-header {
  display: flex;
  padding: 0 70px;

  background-color: #FFFFFF;
}

.page-logo {
  position: absolute;
  z-index: 1;
}

.page-logo-link {
  display: block;
  height: 64px;
}

.page-logo-link:hover {
  z-index: 1;
  opacity: 0.8;
}

.navigation-site {
  margin-left: 168px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 339px;
  max-width: 550px;
  min-height: 64px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-link:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.navigation-link-current::before {
  position: absolute;
  z-index: 1;
  right: 16px;
  bottom: -1px;
  left: 16px;

  height: 2px;

  background-color: #756257;
  content: "";
}

.navigation-user {
  min-width: 268px;
  margin-left: auto;
}

.user-menu-list {
  display: flex;
  align-items: center;
  min-height: 64px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-user-link {
  position: relative;

  display: block;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
}

.navigation-user-link img {
  display: block;
  width: 20px;
  height: 20px;
}

.navigation-user-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-user-link:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.navigation-user-link:hover .user-icons {
  fill: #83B3D3;
}

.favorite-count {
  position: absolute;
  top: 11px;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;

  background-color: #7DB54F;
  border-radius: 50%;
}

.button-modal {
  display: block;
  width: 160px;
  margin: 14px 20px;
  padding: 8px 34px;
}

/* Hero */
.hero-image-wrapper {
  position: relative;
}

.hero-image-wrapper::before {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;

  height: 57px;

  background-image: url("../images/index/divider.svg");
  content: "";
}

.hero-image {
  display: block;
}

/* Features */

.features {
  margin-bottom: 64px;
}

.features-main-title {
  width: 620px;
  margin: 69px auto 25px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.features-subtitle {
  margin: 0;
  margin-bottom: 90px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features-item {
  width: calc(100% / 3);
  min-height: 385px;

  color: #000000;

  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-illustrated {
  display: flex;
  align-items: center;
  width: 100%;

  color: #FFFFFF;

  background-color: #82B3D3;
}

.features-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  text-align: center;
}

.features-title {
  position: relative;

  width: 175px;
  margin: 0 auto 62px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-title::before {
  position: absolute;
  right: 58px;
  bottom: -30px;
  left: 58px;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.features-item-illustrated .features-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.features-description {
  width: 230px;
  margin: 0 auto;
}

.features-item-image img {
  display: block;
}

/* Promo */

.promo {
  margin-bottom: 96px;
}

.promo-item:nth-child(2n - 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.promo-item::before {
  height: 75px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: 50%;
  content: "";
}

.promo-housing::before {
  background-image: url("../images/index/house.svg");
}

.promo-food::before {
  background-image: url("../images/index/food.svg");
}

.promo-gift::before {
  background-image: url("../images/index/gift.svg");
}

.promo-title {
  width: 505px;
  margin: 0 auto 20px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.promo-subtitle {
  width: 490px;
  margin: 0 auto 64px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.promo-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
}

.promo-item-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.promo-item-description {
  width: 230px;
  margin: 0 auto;

  text-align: center;
}

/* Hotel search */

.hotel-search {
  margin-bottom: 96px;
}

.hotel-search-text-wrapper {
  text-align: center;
}

.hotel-search-upper {
  display: block;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-main {
  width: 592px;
  margin: 0 auto 54px;

  font-size: 22px;
  line-height: 26px;
}

.button-search {
  margin: 0 auto;
  padding: 8px 50px;
}

/* Newsletter */

.newsletter {
  color: #ffffff;

  background-color: #000000;
  background-image: url("../images/index/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 96px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-description {
  width: 475px;
  margin: 0 auto 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  padding-bottom: 104px;

  border: none;
}

.email-input {
  width: 452px;
  height: 52px;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-subscribe {
  display: block;
  width: 232px;
  height: 52px;

  font-size: 20px;
  line-height: 36px;

  background-color: #82B3D3;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82B3D3;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 45px 70px 35px;

  background-color: #FFFFFF;
}

.social-list {
  display: flex;
  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-item-link {
  display: block;
  padding: 12px;
}

.social-item-link:hover .social-item-logo {
  fill: #68A2CA;
}

.social-item:active .social-item-logo {
  fill: rgba(104, 162, 202, 0.3);
}

.social-item-logo {
  display: block;
}

.footer-adress-phone {
  display: block;
  width: 333px;

  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-adress-phone:hover {
  color: #756157;
}

.footer-adress-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo {
  display: block;
}

.htmlacademy-logo:hover {
  fill: #756157;
}

.htmlacademy-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */
/* Hotels filter */

.hotels-filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../images/catalog/catalog-header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header {
  margin-bottom: 40px;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 21px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 10px;
}

.breadcrumbs-item + .breadcrumbs-item {
  padding-left: 18px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  width: 8px;
  height: 11px;

  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.breadcrumbs-link {
  display: block;
  height: 21px;

  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-home-link:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home-link:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}


.hotels-filter-form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.hotels-filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.hotels-filter-group:first-child {
  margin-right: 70px;
}

.hotels-type-filter-group {
  margin-right: 150px;
}

.hotels-filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.hotels-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 16px;

  list-style-type: none;
}

.checkbox-input {
  margin: 0;
}

.checkbox-name {
  margin-left: 16px;

  line-height: 23px;
}

.checkbox .radio-input {
  margin: 0;
}

.radio-name {
  margin-left: 16px;

  line-height: 23px;
}

.hotels-cost-filter-group {
  width: 288px;
}

.textbox-wrapper {
  display: flex;
  width: 288px;
  height: 48px;
}

.textbox {
  position: relative;
}

.textbox:first-child {
  margin-right: 2px;
}

.textbox-input {
  display: block;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;

  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;

  border: none;
}

.textbox-input::-webkit-outer-spin-button,
.textbox-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textbox-input[type=number] {
  -moz-appearance: textfield;
}

.textbox:first-child .textbox-input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.textbox:last-child .textbox-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.textbox-name {
  position: absolute;
  top: 12px;
  display: block;
  width: 17px;
  height: 24px;
  margin-left: 106px;

  line-height: 24px;
  text-transform: lowercase;
  text-align: right;
  color: #000000;

  opacity: 0.3;
}

.hotels-filter-buttons {
  display: flex;
  flex-direction: column;

  margin-top: 56px;
  margin-left: auto;
}

.button-apply {
  display: block;
  margin-bottom: 32px;
  padding: 0;
  width: 191px;
  height: 36px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: #82B3D3;
  border: none;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82B3D3;
}

.button-reset {
  display: block;
  width: 191px;
  height: 36px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  background-color: transparent;
  border: none;
}

.button-reset:hover {
  opacity: 0.6;
  background-color: transparent;
}

.button-reset:focus-visible {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: transparent;
}



/* Search result */

.search-result-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 70px 40px;
}

.search-result-text {
  width: 338px;
  margin: 0;
  margin-right: 200px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  padding: 12px 20px;
  padding-right: 40px;


  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  appearance: none;
  background-color: transparent;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.view-change-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  margin-left: auto;
}

.button-view {
  width: 48px;
  height: 48px;
  padding: 15px 14px;

  border: 2px solid #E5E5E5;
  border-radius: 5px;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:focus-visible {
  box-shadow: inset 0 0 0 2px #68A2CA;
  outline: none;
}

.button-view:active {
  border: 2px solid #000000;
}

.button-view-selected {
  border: 2px solid #000000;
}

.button-view img {
  display: block;
  width: 16px;
  height: 14px;
}

/* Hotel list */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1060px;
  margin: 0 auto 80px;
  padding: 0;
  gap: 20px;

  list-style-type: none;
}

.hotel-card {
  width: 340px;
  min-height: 438px;
  padding: 20px;

  border: 1px solid #E6E6E6;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-link .hotel-card-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;

  object-fit: contain;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-button {
  width: 140px;
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-favorite {
  background-color: #82B3D3;
}

.button-favorite:hover {
  background-color: #68A2CA;
}

.button-favorite:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82B3D3;
}

.button-favorite-selected {
  background-color: #7DB54F;
}

.button-favorite-selected:hover {
  background-color: #6C9E42;
}

.button-favorite-selected:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #7DB54F;
}

.hotel-card-rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.hotel-card-rating-text {
  display: block;
  width: 140px;
  margin-left: auto;
  padding: 9px 22px 8px 23px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 5px;
}

.hotel-card-rating {
  display: block;
  height: 17px;

  background-image: url("../images/catalog/star.svg");
  background-repeat: space;
}

.hotel-card-rating.hotel-card-rating-four {
  width: 88px;
}

.hotel-card-rating.hotel-card-rating-three {
  width: 65px;
}

.hotel-card-rating.hotel-card-rating-two {
  width: 43px;
}

/* Pagination */

.pagination {
  display: flex;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  gap: 8px;

  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 11px 18px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;

  background-color: #82B3D3;
  border-radius: 5px;
}

.pagination-link:not(.pagination-current):not(.pagination-skip):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):not(.pagination-skip):active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;

  background-color: #F2F2F2;
}

.pagination-skip {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;

  background-color: transparent;
}

/* Newsletter */

.catalog-newsletter .newsletter-title {
  color: #000000;
}
